:root {
    --padding: 50px;
    --blue: rgb(0, 101, 252);
    --silver: rgb(242, 242, 242);
    --lightblue: rgb(222, 235, 255);
    --shadow-color: rgb(230, 230, 230);
    --shadow-on-white: rgb(240, 240, 240);
}

.mobile_block, .mobile_inline {
    display: none;
}

@media (max-width: 760px) {
    :root {
        --padding: 25px;
    }

    .mobile_hidden {
        display: none;
    }

    .mobile_inline {
        display: inline;
    }

    .mobile_block {
        display: block;
    }
}

* {
    box-sizing: border-box;
    /* normalize.css */
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black;
    color: #bbb; */
    margin: 0;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding);
    margin: 0;
    background-color: white;
}

.header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.header .navbar ul li {
    padding: 40px 30px;
}

.header .navbar ul li a {
    text-decoration: none;
    color: black;
}

.header .navbar ul li.active {
    border-top: 2px solid var(--blue);
}

.header .navbar ul li.active a {
    color: var(--blue);
}

.header .navbar .register {
    padding: 40px 30px;
}

.header .navbar .register a {
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
}

@media(max-width: 760px){
    .header {
        margin-bottom: 50px;
    }
    
    .header .logo, .header .navbar .register {
        padding: 30px 10px;
    }

    .header .navbar ul {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 90px;
        width: 100%;
        background-color: white;
    }

    .header .navbar ul li {
        width: 50%;
        text-align: center;
        padding: 15px 5px;
    }

    .header .navbar ul li.active {
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }
}

section.search {
    width: 100%;
    padding: 0 var(--padding);
    margin: 0;
}

section.search header h1 {
    margin: 0;
}

section.search header p {
    margin: 10px auto;
}

section.search .searchbar {
    position: relative;
    height: 50px;
    width: 400px;
    margin: 15px 0;
}

section.search .searchbar .icon {
    position: absolute;
    left: 0;
    padding: 15px;
    height: 51px;
    width: 50px;
    text-align: center;
    background-color: var(--silver);
    border-color: var(--silver);
    border-radius: 15px 0 0 15px;
}

section.search .searchbar .input {
    position: absolute;
    left: 50px;
    width: calc(100% - 80px);
}

section.search .searchbar .input input {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--silver);
    font-size: medium;
    font-weight: bold;
}

section.search .searchbar .button {
    position: absolute;
    right: 0;
    padding: 15px;
    background-color: var(--blue);
    border-radius: 0 15px 15px 0;
    text-align: center;
    color: white;
}

section.search .searchbar .button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media (max-width: 760px) {
    section.search header {
        margin: 20px 0;
    }
    
    section.search .searchbar {
        width: 100%;
    }

    section.search .searchbar .button {
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }    
}

section.search .filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

section.search .filters h2 {
    font-size: medium;
    margin: 10px 30px 10px 0;
}

section.search .filters ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

section.search .filters ul li {
    height: 40px;
    margin: 7px 15px 7px 0;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 2px solid var(--silver);
    border-left: none;
}

section.search .filters ul li i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    border-radius: 100%;
    background-color: var(--lightblue);
}

section.search .filters ul li .text {
    padding: 0 15px;
    margin: 0;
    font-weight: bold;
}

section.search .more {
    display: flex;
    align-items: flex-start;
    margin: 15px auto;
    margin-bottom: 0;
}

section.search .more i {
    width: 25px;
    height: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    border: 2px solid var(--silver);
    border-radius: 100%;
    margin-right: 10px;
}

section.lodging {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 var(--padding);
}

section.lodging article {
    max-width: 880px;
    padding: 35px;
    margin: 30px 0;
    border-radius: 20px;
    background-color: var(--silver);
}

section.lodging article .container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5px -15px;
}

section.lodging article .container .card {
    width: 250px;
    height: 200px;
    padding: 5px;
    margin: 15px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 10px var(--shadow-color);;
}

section.lodging article .container .card .pic {
    width: 100%;
    height: 115px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

section.lodging article .container .card .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.lodging article .container .card .desc {
    padding: 10px;
}

section.lodging article .container .card .desc > * {
    padding-bottom: 7px;
    font-size: small;
}

section.lodging article .container .card .desc .rating i {
    color: var(--silver);
}

section.lodging article .container .card .desc .rating i.blue {
    color: var(--blue);
}

section.lodging article .more {
    flex: 1 100%;
    font-weight: bold;
    margin: 27px 0 10px 0;
}

section.lodging aside {
    max-width: 420px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
    padding: 40px;
    padding-bottom: 15px;
    border-radius: 20px;
    background-color: var(--silver);
}

section.lodging aside h1 {
    flex: 1 90%;
}

section.lodging aside .seepopular {
    align-self: flex-end;
}

section.lodging aside .seepopular i {
    color: black;
}

section.lodging aside .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px -15px;
}

section.lodging aside .container .card {
    flex: 1;
    display: flex;
    max-width: 345px;
    height: 145px;
    padding: 5px;
    margin: 15px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 10px var(--shadow-color);;
}

section.lodging aside .container .card .pic {
    width: 130px;
    min-width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
}

section.lodging aside .container .card .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.lodging aside .container .card .desc {
    padding: 15px;
}

section.lodging aside .container .card .desc > * {
    padding-bottom: 10px;
    font-size: small;
}

section.lodging aside .container .card .rating i {
    font-size: small;
    color: var(--silver);
}

section.lodging aside .container .card .rating i.blue {
    color: var(--blue);
}

@media (max-width: 1439px) {
    section.lodging {
        flex-direction: column-reverse;
    }

    section.lodging article {
        margin: 30px auto;
    }

    section.lodging article .container{
        justify-content: space-evenly;
    }

    section.lodging aside {
        margin: 30px auto;
        max-width: 880px;
    }

    section.lodging aside .container {
        justify-content: space-between;
    }
}

@media (max-width: 1020px) and (min-width: 761px) {
    section.lodging aside .container {
        flex-direction: column;
        margin: 5px auto;
    }

    section.lodging aside .container .card {
        width: 345px;
        margin: 15px 0;
    }
}

@media (max-width: 760px) {
    section.lodging {
        width: 100%;
    }

    section.lodging article {
        background-color: unset;
        margin: 0 calc(0px - var(--padding));
        padding: var(--padding);
    }

    section.lodging article .container .card {
        width: 100%;
        box-shadow: 0 10px 10px var(--shadow-on-white);
        margin: 6px 15px;
    }

    section.lodging aside {
        border-radius: unset;
        margin: 30px calc(0px - var(--padding));
        margin-bottom: 0;
        padding: var(--padding);
    }

    section.lodging aside .container .card {
        box-shadow: 0 10px 10px var(--shadow-color);
        margin: 5px 15px;
    }
}

section.activities {
    width: 100%;
    padding: var(--padding);
    padding-top: 0;
}

section.activities h1 {
    width: 100%;
    padding: 20px 0;
}

section.activities .container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 195px 0px 165px;
    justify-content: space-between;
    row-gap: 45px;
}

section.activities .container .card {
    width: 300px;
    height: auto;
    border-radius: 20px;
    background: white;
    box-shadow: 0 10px 10px var(--shadow-on-white);
}

section.activities .container .card:nth-child(1) {
    grid-row: 1 / span 3;
    grid-column: 1;
}

section.activities .container .card:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 2;
}

section.activities .container .card:nth-child(3) {
    grid-row: 3;
    grid-column: 2;
}

section.activities .container .card:nth-child(4) {
    grid-row: 1 / span 3;
    grid-column: 3;
}

section.activities .container .card:nth-child(5) {
    grid-row: 1;
    grid-column: 4;
}

section.activities .container .card:nth-child(6) {
    grid-row: 2 / span 2;
    grid-column: 4;
}

section.activities .container .card .pic {
    width: 100%;
    height: calc(100% - 45px);
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

section.activities .container .card .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.activities .container .card .desc {
    height: 45px;
    padding: 15px;
}

section.activities .container .card .desc p {
    padding-bottom: 7px;
    font-size: small;
    font-weight: bold;
}

@media (max-width: 1439px) {
    section.activities .container {
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 250px 200px 200px;
        row-gap: 0;
    }

    section.activities .container .card {
        margin: 10px 0;
    }

    section.activities .container .card:nth-child(1) {
        grid-row: 1 / span 2;
        grid-column: 1;
    }

    section.activities .container .card:nth-child(2) {
        grid-row: 3;
        grid-column: 1;
    }

    section.activities .container .card:nth-child(3) {
        grid-row: 1;
        grid-column: 2;
    }

    section.activities .container .card:nth-child(4) {
        grid-row: 2 / span 3;
        grid-column: 2;
    }

    section.activities .container .card:nth-child(5) {
        grid-row: 1 / span 2;
        grid-column: 3;
    }

    section.activities .container .card:nth-child(6) {
        grid-row: 3;
        grid-column: 3;
    }
}

@media (max-width: 1020px) and (min-width: 761px) {
    section.activities .container {
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 200px 150px 300px;
        row-gap: 0;
    }

    section.activities .container .card {
        margin: 20px 0;
    }

    section.activities .container .card:nth-child(1) {
        grid-row: 1;
        grid-column: 1;
    }

    section.activities .container .card:nth-child(2) {
        grid-row: 1;
        grid-column: 2;
    }

    section.activities .container .card:nth-child(3) {
        grid-row: 2;
        grid-column: 1;
    }

    section.activities .container .card:nth-child(4) {
        grid-row: 2 / span 2;
        grid-column: 2;
    }

    section.activities .container .card:nth-child(5) {
        grid-row: 3 / span 4;
        grid-column: 1;
    }

    section.activities .container .card:nth-child(6) {
        grid-row: 4;
        grid-column: 2;
    }
}

@media (max-width: 760px) {
    section.activities .container {
        display: flex;
        flex-direction: column;
    }

    section.activities .container .card {
        width: 100%;
        height: 190px;
    }
}
